@font-face {
  font-family: 'pressStart';
  src: url(./Assets/PressStart2P-Regular.ttf);
}

* {
  box-sizing: border-box;
}

#canvas {
  position: relative;
  display: inline-block;
}

#gameResult {
  font-family: 'pressStart', sans-serif;
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#replayButton {
  font-family: 'pressStart', sans-serif;
  font-size: 14px;
  padding: 5px;
  position: absolute;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: none;
  /* align-items: center;
  justify-content: center; */
  top: 92%;
  left: 45.5%;
  background-color: rgba(255, 255, 255, 0.05);
}

#topBar {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#gameTimer {
  background-color: #000;
  border: solid 3px darkgoldenrod;
  color: darkgoldenrod;
  font-family: 'pressStart', sans-serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 3px;
  height: 50px;
  width: 100px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#HeroHealthContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#HeroHealth {
  position: absolute;
  background-color: #818cf8;
  height: 24px;
  width: 100%;
  border-radius: 3px 0 0 3px ;
  margin-top: 3px;
  top: 0;
  bottom: 0;
  right: 0;
}

#VillainHealthContainer {
  position: relative;
  width: 100%;
}

.heroHealthBackground {
  background-color: maroon;
  height: 30px;
  border-radius: 3px 0 0 3px;
  border-top: 3px solid silver;
  border-bottom: 3px solid silver;
  border-left: 3px solid silver;
  width: 100%;
}

#VillainHealth {
  position: absolute;
  background-color: #818cf8;
  height: 24px;
  margin-top: 3px;
  width: 100%;
  border-radius: 0 3px 3px 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.villainHealthBackground {
  background-color: maroon;
  height: 30px;
  border-radius: 0 3px 3px 0;
  border-top: 3px solid silver;
  border-bottom: 3px solid silver;
  border-right: 3px solid silver;
  width: 100%;
}
